{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<h1 class="mb-4">Settings</h1>
<div class="row">
  <div class="col-md-6">
    <form method="post" enctype="multipart/form-data" class="mb-4">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" name="username" value="{{ current_user.username }}">
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email" value="{{ current_user.email }}">
      </div>
      <div class="mb-3">
        <label class="form-label">Nickname</label>
        <input class="form-control" name="nickname" value="{{ current_user.nickname }}">
      </div>
      <div class="mb-3">
        <label class="form-label">Avatar</label>
        <input class="form-control" type="file" name="avatar">
      </div>
      <button class="btn btn-brand" type="submit">Save Profile</button>
    </form>
    <form method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
        <label class="form-label">Current Password</label>
        <input class="form-control" type="password" name="current_password">
      </div>
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <input class="form-control" type="password" name="new_password">
      </div>
      <button class="btn btn-brand" type="submit">Change Password</button>
    </form>
  </div>
  <div class="col-md-6">
    <h5>Activity Log</h5>
    <ul class="list-group">
    {% for log in logs %}
      <li class="list-group-item small">{{ log.timestamp }} - {{ log.action }}</li>
    {% else %}
      <li class="list-group-item small">No activity</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
